body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* SET APPLICATION SPECIFIC STYLING */
.setapp-lobby-container {
  margin: 1em;
}

/* keep the game all within screen */
.setapp-game {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20% 40% 10% 20% 10%;
  grid-template-rows: 7% 92%;
}

.setapp-game-title,
.setapp-game-loading {
  font-size: 200%;
  text-align: center;
}

.setapp-game-setbutton,
.setapp-game-setnum,
.setapp-game-requestthree,
.setapp-game-infobutton {
  text-align: center;
}

.setapp-game-board {
  grid-column-start: 1;
  grid-column-end: 6;
}

.setapp-game-board-grid {
  display: grid;
  grid-gap: 1%;
  height: 100%;
  width: 100%;
  grid-template-columns: auto auto auto;
  padding: 1%;
}

.setapp-board-row {
  width: 100%
}

.setapp-card {
  border: 1px solid;
  border-radius: 1em;
  height: 100%;
  width: 100%;
  display: grid;
  background-color: white;
}

.setapp-card-selected {
  border: 3px solid;
}

.setapp-card-content {
  margin: .5em 0;
}

.setapp-shape {
  padding: 0px;
}
